# Default user
[user]
  name = Qu1etboy
  email = 95042765+Qu1etboy@users.noreply.github.com

[core]
  hooksPath = ~/.githooks
  excludesfile = ~/dotfiles/git/.gitignore_global

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[color]
  diff = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true

[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold

[includeif "gitdir/i:~/documents/dev/work/"]
  path = ~/dotfiles/git/work.gitconfig